<!--
    This file is used to render a list of all posts on our blog.
  -->

{{ partial "header.html" . }}

<body class="theme-base-08">
  {{ partial "sidebar.html" . }}

  <!-- See /layouts/indexes/category.html for explanation of this section -->
  <div class="wrap">
    {{ partial "masthead.html" }}
    <!--
        In this section we have Hugo generate a list of all blog posts, ordered
        by date.

        When showing each post we ask Hugo to use the template in
        /layouts/posts/li.html to provide a short description of each post.
      -->
    <div class="container content">
      <h1 class="post-title">All Posts</h1>
      <section id="main">
        <ul class="all-posts" id="list">
          {{ range .Data.Pages }}
          {{ .Render "li"}}
          {{ end }}
        </ul>
      </section>
    </div>
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  <!-- Include footer (ends <body> and <html>) -->
  {{ partial "footer.html" }}



