<!--
  This file is a template that is included various places to have a list of
  that particular posts categories generated.
-->
<div class="container" align="right">
  <ul class="catlist">
    {{ range .Params.categories }}
      <li><a href="/categories/{{ . | urlize }}">{{ . }}</a> </li>
    {{ end }}
  </ul>
</div>
