<!--
    Taken from Lanyon example site.

    Putting everything in the wrap div makes the whole page slide over when the
    navigation button is pressed.

    The masthead is a special Lanyon class that is above the horizontal line at
    the top of each page. To me it seemed like a place to put the page title.

    We want the title to be Blog Posts and we want it to be a link to the
    root of the /posts section of the site.

  -->
<div class="masthead">
  <div class="container">
    <h3 class="masthead-title">
      <a href="/" title="Home">Why are things the way they are?</a>
    </h3>
  </div>
</div>
