.hll { background-color: #ffffcc }
.c { color: #7C6F64; font-style: italic } /* Comment */
.err { color: #fe8019; background-color: #e3d2d2 } /* Error */
.k { color: #DD6F48 } /* Keyword */
.o { font-weight: bold } /* Operator */
.ch { color: #7c6f64; font-style: italic } /* Comment.Hashbang */
.cm { color: #7c6f64; font-style: italic } /* Comment.Multiline */
.cp { color: #7c6f64; font-weight: bold } /* Comment.Preproc */
.cpf { color: #7c6f64; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #7c6f64; font-style: italic } /* Comment.Single */
.cs { color: #7c6f64; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #fe8019 } /* Generic.Error */
.gh { color: #999999 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #DD6F48 } /* Keyword.Constant */
.kd { color: #DD6F48 } /* Keyword.Declaration */
.kn { color: #DD6F48 } /* Keyword.Namespace */
.kp { color: #DD6F48 } /* Keyword.Pseudo */
.kr { color: #DD6F48 } /* Keyword.Reserved */
.kt { color: #66999D } /* Keyword.Type */
.m { color: #d3869b } /* Literal.Number */
.mb { color: #d3869b } /* Literal.Number.Bin */
.mf { color: #d3869b } /* Literal.Number.Float */
.mh { color: #d3869b } /* Literal.Number.Hex */
.mi { color: #d3869b } /* Literal.Number.Integer */
.mo { color: #d3869b } /* Literal.Number.Oct */
.il { color: #d3869b } /* Literal.Number.Integer.Long */
.s { color: #528b8b } /* Literal.String */
.na { color: #FDF4C1 } /* Name.Attribute */
.nb { color: #FE8019 } /* Name.Builtin */
.nc { color: #445588; font-weight: bold } /* Name.Class */
.no { color: #FDF4C1 } /* Name.Constant */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #990000; font-weight: bold } /* Name.Exception */
.nf { color: #A89984 } /* Name.Function */
.nn { color: #555555 } /* Name.Namespace */
.nt { color: #83A598 } /* Name.Tag */
.nv { color: #FDF4C1 } /* Name.Variable */
.ow { font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.sa { color: #528b8b } /* Literal.String.Affix */
.sb { color: #528b8b } /* Literal.String.Backtick */
.sc { color: #528b8b } /* Literal.String.Char */
.dl { color: #528b8b } /* Literal.String.Delimiter */
.sd { color: #528b8b } /* Literal.String.Doc */
.s2 { color: #528b8b } /* Literal.String.Double */
.se { color: #528b8b } /* Literal.String.Escape */
.sh { color: #528b8b } /* Literal.String.Heredoc */
.si { color: #528b8b } /* Literal.String.Interpol */
.sx { color: #528b8b } /* Literal.String.Other */
.sr { color: #808000 } /* Literal.String.Regex */
.s1 { color: #528b8b } /* Literal.String.Single */
.ss { color: #528b8b } /* Literal.String.Symbol */
.bp { color: #FE8019 } /* Name.Builtin.Pseudo */
.fm { color: #990000; font-weight: bold } /* Name.Function.Magic */
.vc { color: #FDF4C1 } /* Name.Variable.Class */
.vg { color: #FDF4C1 } /* Name.Variable.Global */
.vi { color: #FDF4C1 } /* Name.Variable.Instance */
.vm { color: #FDF4C1 } /* Name.Variable.Magic */

/* Local Variables: */
/* eval: (when (fboundp 'rainbow-mode) (rainbow-mode 1)) */
/* End: */
