<!--
  This file defines how a summary of a specifc post should be presented in a
  list (hence the file name li.html for "list item"). This is used in the
  template /layouts/indexes/posts.html

  The lines of the displayed list item are as follows:
  (1) The name of the post
  (2) The date the post was written as left-justified text and a
      right-justified horizontal list of categories for that post.
  (3) The contents of the description field in the metadata of the actual
      markdown source of the post.
-->
<li>
  <span><h2><a href='{{ .Permalink }}'> {{ .Title }}</a> </h2></span> <div class="post-date-inline" align="right"><i>{{ .Date.Format "2 Jan 2006" }}</i></div>
  <span class="right">
    <ul class="catlist">
      {{ range .Params.categories }}
        <li><a href="/categories/{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
  </span>

  <br />
  {{ .Description }}
</li>
