<!-- This file is the homepage of the website. -->

<!DOCTYPE html>
<html>
  <head>
    <!--
        This section just sets up some metadata for the website.

        It probably does not need to be changed.
      -->
    <meta charset="utf-8">
    <!-- <base href="{{ .Site.BaseURL }}"> -->
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/> -->

    {{ partial "head_includes.html" . }}
  </head>
  <body class="theme-base-08" lang="en">

    {{ partial "sidebar.html" . }}

    <!-- See /layouts/indexes/category.html for explanation of this section -->
    <div class="wrap">
      {{ partial "masthead.html" }}
      <!--
          This section contains the content of our home page.

          I have broken it into three main sections:
          (1) about the blog
          (2) about me
          (3) Recent posts

          The first two sections are pretty self explanatory.

          In the recent posts section we ask Hugo to use the template found in
          /layouts/posts/summary.html to show a summary of the 10 most recent
          posts we have made.
        -->
      <div class="container content">
        <!-- <h1>Why are things the way they are?</h1> -->

        <!-- <p>In which I discuss emacs and other computer-y stuff I'm not -->
        <!-- qualified to talk about, ramble about comics, and google oddly specific -->
        <!-- shit nobody really cares about.</p> -->

        <!-- About me subsection -->
        <!-- <h2>About me</h2> -->

        <!-- <p>Someone who really doesn't have the time to run this blog.</p> -->


        <!-- Recent Posts section -->
        <!-- <h1 class="post-title">Recent Posts</h1> -->
        <section id="main">
          <ul class="post-list" id="list">
            {{ range first 10 .Data.Pages }}
            {{ .Render "summary"}}
            {{ end }}
          </ul>
        </section>
        <div class="pagination">
          {{ if .Paginator.HasPrev }}
          <a class="pagination-item newer" href="{{ .Paginator.Prev.URL }}">Newer</a>
          {{ else }}
          <span class="pagination-item newer">Newer</span>
          {{ end }}
          {{ if .Paginator.HasNext }}
          <a class="pagination-item older" href="{{ .Paginator.Next.URL }}">Older</a>
          {{ else }}
          <span class="pagination-item older">Older</span>
          {{ end }}
        </div>
      </div>
    </div>
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
  </body>
</html>
<!-- {{ partial "footer.html" . }} -->
